<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top" width="100%" height="225" [src]='pais.flag' preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
  <title>Placeholder</title>
  <div class="card-body">
    <p class="card-text">
      {{pais.name}}
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" (click)="guardarPais(pais.name)" class="btn btn-sm btn-outline-secondary">
          Guardar
        </button>
        <button type="button" (click)="detallePais(pais)" class="btn btn-sm btn-outline-secondary">
          Detalle
        </button>
      </div>
      <small class="text-muted">9 mins</small>
    </div>
  </div>
</div>
