

<div class="container d-flex justify-content-between">
  <h1>Tabla de Jugadores</h1>
  <a class="btn btn-primary btn-md my-2" role="button" (click)="cambiarVista()">Cambiar vista</a>
</div>
<div class="container" *ngIf="mostrar">

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="'col'">Id</th>
      <th scope="'col'">Nombre</th>
      <th scope="'col'">Apellido</th>
      <th scope="'col'">Fecha Nacimiento</th>
      <th scope="'col'">Foto</th>
      <th scope="'col'" colspan="3">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let jugador of judadores">
      <th scope="row">{{ jugador.id }}</th>
      <td>{{ jugador.nombre }}</td>
      <td>{{ jugador.apellido }}</td>
      <td>{{ jugador.nacimiento }}</td>
      <td><img [src]="jugador.foto " alt="" style="width: 50px ; height: 50px" class="mx-auto d-block" /></td>
      <td>
        <button class="btn btn-danger mx-auto d-block" (click)="eliminar(jugador)">Borrar</button>
      </td>
      <td>
        <button class="btn btn-warning mx-auto d-block" (click)="detalleJugador(jugador)">Detalle</button>
      </td>
      <td>
        <button class="btn btn-success mx-auto d-block" (click)="modificar(jugador)">Modificar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="album py-5 bg-light" *ngIf="!mostrar">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let jugador of judadores">
        <div class="card mb-4 shadow-sm">
          <img [src]="jugador.foto" alt="" style="width: 150px ; height: 150px" class="mx-auto d-block imagen" />
          <div class="card-body">
            <div class="row">Id: {{ jugador.id }}</div>
            <div class="row">Nombre: {{ jugador.nombre }}</div>
            <div class="row">Apellido: {{ jugador.apellido }}</div>
            <div class="row">Fecha Nacimiento: {{ jugador.nacimiento }}</div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group mt-2">
                <button class="btn btn-danger mr-2" (click)="eliminar(jugador)">Borrar</button>
                <button class="btn btn-warning mr-2" (click)="detalleJugador(jugador)">Detalle</button>
                <button class="btn btn-success" (click)="modificar(jugador)">Modificar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

