<h2>Detalle</h2>
<div class="album py-1 bg-light">
  <div class="row my-2">
    <img [src]="jugador.foto" alt="" class="mx-auto d-block">
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Id : {{jugador.id}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Nombre : {{jugador.nombre}}</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-12">
      <h4>Apellido : {{jugador.apellido}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4>Fecha Nacimiento : {{jugador.nacimiento}}</h4>
    </div>
  </div>
</div>
<p>
  <a class="btn btn-secondary" role="button" (click)='limpiar()'>Limpiar</a>
</p>
