<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Estreno</th>
    <th>Cantidad Publico</th>
    <th>Foto</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let pelicula of listadoPeliculas" >
    <!-- <td>{{pelicula.id}}</td> -->
    <th>{{pelicula.nombre}}</th>
    <td>{{pelicula.tipo}}</td>
    <td>{{pelicula.fechaDeEstreno}}</td>
    <td>{{pelicula.cantidadDePublico}}</td>
    <td><img src="{{pelicula.foto}}" alt="" style="width: 70px"></td>
    <td>
      <app-detalle-pelicula [objetoABorrar]= "pelicula" [queBorro]="'pelicula'" (borrado)="refrescarLista($event)"></app-detalle-pelicula>
    </td>
    <!-- <td>
      <button id="btnMofificar" type="button" class="btn btn-primary pull-right" (click)="IrAModificarClick(producto)">Modificar</button>
    </td> -->
  </tr>

</table>
