<h2>Modificar</h2>
<p>Modificar Jugador</p>
<div class="album py-1 bg-light">
  <div class="row my-2">
    <img [src]="jugador.foto" style="width: 400px ; height: 400px" alt="" class="mx-auto d-block">
  </div>
  <div class="row">
    <label class="label-control floating col-12">Nombre:</label>
    <input type="text" class="form-control" [(ngModel)]='jugador.nombre' [placeholder]='jugador.nombre'>
  </div>
  <div class="row">
    <label class="col-12 label-control">Apellido:</label>
    <input type="text" class="form-control" [(ngModel)]='jugador.apellido' [placeholder]='jugador.apellido'>
  </div>
  <div class="row">
    <label class="label-control col-12">Fecha de Nacimiento:</label>
    <input type="text" class="form-control" [(ngModel)]='jugador.nacimiento' [placeholder]='jugador.nacimiento'>
  </div>
</div>
<div class="row">
  <a class="btn btn-success mx-2 col-4" role="button" (click)='modificar()'>Modificar</a>
  <button class="btn btn-danger mx2 col-4" (click)='cancelar()'>Cancelar</button>
</div>
