.formLogin{
  width: 140vh;
  height: 100vh;
  padding-left: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.row {
  display: table-cell;
}

.botonLogin{
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color:#eae0c2;
  border-radius:15px;
  border:2px solid white;
  display:inline-block;
  cursor:pointer;
  color:#505739;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding: 8px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}


.general {
  display: flex;
  height: 100%;
  background-color: #0882C4;
}


.componentes {
  width: 100%;


}


.etiqueta{
  color: white;
  font-size: medium;

}

.boton{
  width: 100%;
}

a{
  color: white;
}
