<div class="general">
  <div class="formLogin">

    <p matLine class="etiqueta">Login</p>
    <mat-form-field class="componentes">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="usuario@email.com" [(ngModel)]="usuario.email" type="text"
             id="user" required>
    </mat-form-field>
    <br>
    <mat-form-field class="componentes">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="usuario.pass" id="pass" required>
    </mat-form-field>
    <br>
    <div class="container">
       <div class="row">
          <div class="mb-5">
            <button mat-raised-button class="botonLogin" (click)="onLogin()">Loguearse</button>
            <button mat-raised-button class="botonLogin" (click)="admin()">Admin</button>
          </div>

       </div>
    </div>

    <br>
    <a routerLink="/registro"> no tenes cuenta? registrate aca </a>
  </div>
</div>
