
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <article class="card-body">
          <h4 class="card-title mb-3 lblIng">Ingreso de Actor</h4>
          <form>
            <div class="form-group">
              <label>Nombre</label>
              <input class="form-control" placeholder="Ingrese un nombre.." [(ngModel)]="actor.nombre" name="nombre">
              <label *ngIf="nombreError" class="form-text text-danger">Falta nombre</label>
            </div>
            <div class="form-group">
              <label>Apellido</label>
              <input class="form-control" placeholder="Ingrese un apellido.." [(ngModel)]="actor.apellido" name="apellido">
              <label *ngIf="apellidoError" class="form-text text-danger">Falta apellido</label>
            </div>
            <div class="form-group">
              <label>Fecha de Nacimiento</label>
              <input class="form-control" type="date" placeholder="Ingrese una fecha de estreno.." [(ngModel)]="actor.fechaDeNacimiento" name="fechaDeNacimiento">
              <label *ngIf="fechaDeNacimientoError" class="form-text text-danger">Falta ingresar la fecha de nacimiento</label>
            </div>
            <button id="btnAgregar" type="button" style="margin-right:1%;" class="btn btn-success pull-right" (click)="agregar()"> Agregar </button>
            <button id="btnLimpiar" type="reset" class="btn btn-info" (click)="ReestablecerTodo()"> Limpiar </button>
          </form>
        </article>
      </div>
      <div class="col-8">
         <div>
           <button id="btnAltaRoute" type="button" style="margin-top:3%;" class="btn btn-success pull-right" (click)="volver()"> Volver a Actores </button>
        </div>
      </div>
    </div>

  </div>


