<!--table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Fecha de Nacimiento</th>
    <th>Foto</th>
    <th>Detalle</th>
  </tr>
  <tr *ngFor="let actor of listadoActores" >
    <td>{{actor.nombre}}</td>
    <td>{{actor.apellido}}</td>
    <td>{{actor.fechaDeNacimiento}}</td>
    <td><img class="imagenDeMenu"  src="{{actor.foto}}" style="width: 70px"></td>
    <td>

    </td>

  </tr>
</table-->
<ul class="list-group mb-2">
  <li *ngFor="let actor of listadoActores" class="list-group-item d-flex justify-content-between lh-condensed" (click)="seleccionado(actor)">
    <div>
      <h6 class="my-0">{{actor.nombre}} {{actor.apellido}}</h6>
      <small class="text-muted">{{actor.fechaDeNacimiento}}</small>
      <br>
      <small class="text-muted">{{actor.sexo}}</small>
      <br>
      <small class="text-muted">{{actor.nacionalidad}}</small>
    </div>
    <img [src]="actor.foto" width="120px" height="120px">

  </li>
</ul>

