<div class="mb-5">
  <nav class="navbar navbar-expand-lg bg-primary  ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <a id="home" class="navbar-brand" routerLink="/bienvenido">Home</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/peliculas/listado" >Peliculas</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/actor/listado" >Actores</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/actorPelicula" >Actor/Pelicula</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/paisPelicula" >Pais/Pelicula</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!--<app-header-mail></app-header-mail> -->

        <a class="nav-link text-info pl-3 bla"
           (click)="usuario = null; auth.logOut()">Cerrar sesion</a>
      </form>
    </div>
  </nav>
</div>
